.icon-add {
	background: url(../images/icons/icon-add.png) no-repeat 0 0
		!important;
}

.icon-admin {
	background: url(../images/resource/icon-admin.png) no-repeat 0 0
		!important;
}

.icon-anchor {
	background: url(../images/icons/icon-anchor.png) no-repeat 0 0
		!important;
}

.icon-approval {
	background: url(../images/icons/icon-approval.png) no-repeat 0 0
		!important;
}

.icon-attach {
	background: url(../images/icons/icon-attach.png) no-repeat 0 0
		!important;
}

.icon-bar {
	background: url(../images/icons/icon-bar.png) no-repeat 0 0
		!important;
}

.icon-basket {
	background: url(../images/icons/icon-basket.png) no-repeat 0 0
		!important;
}

.icon-bell {
	background: url(../images/icons/icon-bell.png) no-repeat 0 0
		!important;
}

.icon-bomb {
	background: url(../images/icons/icon-bomb.png) no-repeat 0 0
		!important;
}

.icon-bronze {
	background: url(../images/icons/icon-bronze.png) no-repeat 0 0
		!important;
}

.icon-bug {
	background: url(../images/icons/icon-bug.png) no-repeat 0 0
		!important;
}

.icon-cancel {
	background: url(../images/icons/icon-cancel.png) no-repeat 0 0
		!important;
}

.icon-cart {
	background: url(../images/icons/icon-cart.png) no-repeat 0 0
		!important;
}

.icon-coins {
	background: url(../images/icons/icon-coins.png) no-repeat 0 0
		!important;
}

.icon-collapse {
	background: url(../images/icons/icon-collapse.png) no-repeat 0 0
		!important;
}

.icon-color-swatch {
	background: url(../images/icons/icon-color-swatch.png) no-repeat 0
		0 !important;
}

.icon-color-wheel {
	background: url(../images/icons/icon-color-wheel.png) no-repeat 0
		0 !important;
}

.icon-comment {
	background: url(../images/icons/icon-comment.png) no-repeat 0 0
		!important;
}

.icon-computer {
	background: url(../images/icons/icon-computer.png) no-repeat 0 0
		!important;
}

.icon-connect {
	background: url(../images/icons/icon-connect.png) no-repeat 0 0
		!important;
}

.icon-contrast {
	background: url(../images/icons/icon-contrast.png) no-repeat 0 0
		!important;
}

.icon-controller {
	background: url(../images/icons/icon-controller.png) no-repeat 0 0
		!important;
}

.icon-curve {
	background: url(../images/icons/icon-curve.png) no-repeat 0 0
		!important;
}

.icon-cut {
	background: url(../images/icons/icon-cut.png) no-repeat 0 0
		!important;
}

.icon-database {
	background: url(../images/icons/icon-database.png) no-repeat 0 0
		!important;
}

.icon-date {
	background: url(../images/icons/icon-date.png) no-repeat 0 0
		!important;
}

.icon-delete {
	background: url(../images/icons/icon-delete.png) no-repeat 0 0
		!important;
}

.icon-disconnect {
	background: url(../images/icons/icon-disconnect.png) no-repeat 0 0
		!important;
}
.icon-download{
	background: url(../images/icons/icon-download.png) no-repeat
		0 0 !important;
}
.icon-drive-network {
	background: url(../images/icons/icon-drive-network.png) no-repeat
		0 0 !important;
}

.icon-drive {
	background: url(../images/icons/icon-drive.png) no-repeat 0 0
		!important;
}

.icon-edit {
	background: url(../images/icons/icon-edit.png) no-repeat 0 0
		!important;
}

.icon-email-readed {
	background: url(../images/icons/icon-email-readed.png) no-repeat 0
		0 !important;
}

.icon-email {
	background: url(../images/icons/icon-email.png) no-repeat 0 0
		!important;
}

.icon-error {
	background: url(../images/icons/icon-error.png) no-repeat 0 0
		!important;
}

.icon-excel {
	background: url(../images/icons/icon-excel.png) no-repeat 0 0
		!important;
}

.icon-exclamation {
	background: url(../images/icons/icon-exclamation.png) no-repeat 0
		0 !important;
}

.icon-exit {
	background: url(../images/resource/icon-exit.png) 0 0 no-repeat;
}

.icon-expand {
	background: url(../images/icons/icon-expand.png) no-repeat 0 0
		!important;
}

.icon-fatel {
	background: url(../images/icons/icon-fatel.png) no-repeat 0 0
		!important;
}

.icon-flag-green {
	background: url(../images/icons/icon-flag-green.png) no-repeat 0 0
		!important;
}

.icon-flag-red {
	background: url(../images/icons/icon-flag-red.png) no-repeat 0 0
		!important;
}

.icon-flag-yellow {
	background: url(../images/icons/icon-flag-yellow.png) no-repeat 0
		0 !important;
}

.icon-gold {
	background: url(../images/icons/icon-gold.png) no-repeat 0 0
		!important;
}

.icon-grid {
	background: url(../images/icons/icon-grid.png) no-repeat 0 0
		!important;
}

.icon-group {
	background: url(../images/icons/icon-group.png) no-repeat 0 0
		!important;
}

.icon-heart {
	background: url(../images/icons/icon-heart.png) no-repeat 0 0
		!important;
}

.icon-help {
	background: url(../images/icons/icon-help.png) no-repeat 0 0
		!important;
}

.icon-home {
	background: url(../images/icons/icon-home.png) no-repeat 0 0
		!important;
}

.icon-info {
	background: url(../images/icons/icon-info.png) no-repeat 0 0
		!important;
}

.icon-ipod {
	background: url(../images/icons/icon-ipod.png) no-repeat 0 0
		!important;
}

.icon-key {
	background: url(../images/icons/icon-key.png) no-repeat 0 0
		!important;
}

.icon-keyboard {
	background: url(../images/icons/icon-keyboard.png) no-repeat 0 0
		!important;
}

.icon-layers {
	background: url(../images/icons/icon-layers.png) no-repeat 0 0
		!important;
}

.icon-layout {
	background: url(../images/icons/icon-layout.png) no-repeat 0 0
		!important;
}

.icon-lightning {
	background: url(../images/icons/icon-lightning.png) no-repeat 0 0
		!important;
}

.icon-line {
	background: url(../images/icons/icon-line.png) no-repeat 0 0
		!important;
}

.icon-link {
	background: url(../images/icons/icon-link.png) no-repeat 0 0
		!important;
}

.icon-lock {
	background: url(../images/icons/icon-lock.png) no-repeat 0 0
		!important;
}

.icon-map {
	background: url(../images/icons/icon-map.png) no-repeat 0 0
		!important;
}

.icon-mobile {
	background: url(../images/icons/icon-mobile.png) no-repeat 0 0
		!important;
}

.icon-monitor {
	background: url(../images/icons/icon-monitor.png) no-repeat 0 0
		!important;
}

.icon-mouse {
	background: url(../images/icons/icon-mouse.png) no-repeat 0 0
		!important;
}

.icon-music {
	background: url(../images/icons/icon-music.png) no-repeat 0 0
		!important;
}

.icon-organisation {
	background: url(../images/icons/icon-organisation.png) no-repeat 0
		0 !important;
}

.icon-palette {
	background: url(../images/icons/icon-palette.png) no-repeat 0 0
		!important;
}

.icon-password {
	background: url(../images/resource/icon-password.png) 0 0 no-repeat;
}

.icon-phone {
	background: url(../images/icons/icon-phone.png) no-repeat 0 0
		!important;
}

.icon-photo {
	background: url(../images/icons/icon-photo.png) no-repeat 0 0
		!important;
}

.icon-photos {
	background: url(../images/icons/icon-photos.png) no-repeat 0 0
		!important;
}

.icon-pie {
	background: url(../images/icons/icon-pie.png) no-repeat 0 0
		!important;
}

.icon-play-eject {
	background: url(../images/icons/icon-play-eject.png) no-repeat 0 0
		!important;
}

.icon-play-end {
	background: url(../images/icons/icon-play-end.png) no-repeat 0 0
		!important;
}

.icon-play-equalizer {
	background: url(../images/icons/icon-equalizer.png) no-repeat 0 0
		!important;
}

.icon-play-fast {
	background: url(../images/icons/icon-play-fast.png) no-repeat 0 0
		!important;
}

.icon-play-pause {
	background: url(../images/icons/icon-play-pause.png) no-repeat 0 0
		!important;
}

.icon-play-repeat {
	background: url(../images/icons/icon-play-repeat.png) no-repeat 0
		0 !important;
}

.icon-play-rewind {
	background: url(../images/icons/icon-play-rewind.png) no-repeat 0
		0 !important;
}

.icon-play-start {
	background: url(../images/icons/icon-play-start.png) no-repeat 0 0
		!important;
}

.icon-play-stop {
	background: url(../images/icons/icon-play-stop.png) no-repeat 0 0
		!important;
}

.icon-play {
	background: url(../images/icons/icon-play.png) no-repeat 0 0
		!important;
}

.icon-plugin {
	background: url(../images/icons/icon-plugin.png) no-repeat 0 0
		!important;
}

.icon-printer {
	background: url(../images/icons/icon-printer.png) no-repeat 0 0
		!important;
}

.icon-reset {
	background: url(../images/icons/icon-reset.png) no-repeat 0 0
		!important;
}

.icon-refresh {
	background: url(../images/icons/icon-refresh.png) no-repeat 0 0
		!important;
}

.icon-save {
	background: url(../images/icons/icon-save.png) no-repeat 0 0
		!important;
}

.icon-schedule {
	background: url(../images/icons/icon-schedule.png) no-repeat 0 0
		!important;
}

.icon-search {
	background: url(../images/icons/icon-search.png) no-repeat 0 0
		!important;
}

.icon-server {
	background: url(../images/icons/icon-server.png) no-repeat 0 0
		!important;
}

.icon-setting {
	background: url(../images/icons/icon-setting.png) no-repeat 0 0
		!important;
}

.icon-shield {
	background: url(../images/icons/icon-shield.png) no-repeat 0 0
		!important;
}

.icon-silver {
	background: url(../images/icons/icon-silver.png) no-repeat 0 0
		!important;
}

.icon-standard {
	background: url(../images/icons/icon-standard.png) no-repeat 0 0
		!important;
}

.icon-star {
	background: url(../images/icons/icon-star.png) no-repeat 0 0
		!important;
}

.icon-success {
	background: url(../images/icons/icon-success.png) no-repeat 0 0
		!important;
}

.icon-sync {
	background: url(../images/icons/icon-sync.png) no-repeat 0 0
		!important;
}

.icon-tag-blue {
	background: url(../images/icons/icon-tag-blue.png) no-repeat 0 0
		!important;
}

.icon-tag-red {
	background: url(../images/icons/icon-tag-red.png) no-repeat 0 0
		!important;
}

.icon-tag-yellow {
	background: url(../images/icons/icon-tag-yellow.png) no-repeat 0 0
		!important;
}

.icon-transfer {
	background: url(../images/icons/icon-transfer.png) no-repeat 0 0
		!important;
}

.icon-unlock {
	background: url(../images/icons/icon-unlock.png) no-repeat 0 0
		!important;
}

.icon-user {
	background: url(../images/icons/icon-user.png) no-repeat 0 0
		!important;
}

.icon-user-add {
	background: url(../images/icons/icon-user-add.png) no-repeat 0 0
		!important;
}

.icon-user-comment {
	background: url(../images/icons/icon-user-comment.png) no-repeat 0
		0 !important;
}

.icon-user-delete {
	background: url(../images/icons/icon-user-delete.png) no-repeat 0
		0 !important;
}

.icon-user-edit {
	background: url(../images/icons/icon-user-edit.png) no-repeat 0 0
		!important;
}

.icon-user-female {
	background: url(../images/icons/icon-user-female.png) no-repeat 0
		0 !important;
}

.icon-warn {
	background: url(../images/icons/icon-warn.png) no-repeat 0 0
		!important;
}

.icon-insert-brother{
	background: url(../images/icons/icon-insert-brother.png) no-repeat 0 0
		!important;
}
.icon-append-brother {
	background: url(../images/icons/icon-append-brother.png) no-repeat 0 0
		!important;
}
.icon-insert-child {
	background: url(../images/icons/icon-insert-child.png) no-repeat 0 0
		!important;
}
.icon-append-child{
	background: url(../images/icons/icon-append-child.png) no-repeat 0 0
		!important;
}
.icon-update-node{
	background: url(../images/icons/icon-update-node.png) no-repeat 0 0
		!important;
}
.icon-delete-nodes{
	background: url(../images/icons/icon-delete-nodes.png) no-repeat 0 0
		!important;
}